<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
<script src="http://malsup.github.com/jquery.form.js"></script> 

<iframe width="560" height="315" src="" id="gg" frameborder="0" allowfullscreen></iframe>

<!-- search form -->

<form method="post">
<input type="text" id="searchTerms">
<input type="submit" id="searchBut" value="ok!">
</form>


<script>
$(document).ready(function() {
$("#gg").hide()

$("#searchBut").click(function(e) {
var filepath = $("#searchTerms").val();
$.ajax({
url : "/locM",
type : "POST",
dataType: "json",
data : {
filep : filepath,
csrfmiddlewaretoken: '{{ csrf_token }}'
},
success : function(json) {
e.preventDefault();
$("#gg").show('slow');
var p = json[0]['iframe'] + "?autoplay=1";
$('#gg').attr('src', p)
console.log(p);
},
error : function(xhr,errmsg,err) {
alert("fail");
}
});
return false;
});
});
</script>


<div id="vv"></div>




<!-- Local Music -->


<div style="overflow: auto; width:500px; height:300px;">

{% for key, val in al.items %}

<form method="post">
<input type="hidden" id="filepath{{ forloop.counter0 }}" value="{{key|safe}}">

{% csrf_token %}
<a href="#" id="button{{ forloop.counter0 }}">{{val|safe}}</a></p>
</form>

<script>
$(document).ready(function() {
$("#button{{ forloop.counter0 }}").click(function() {
var filepath = $("#filepath{{ forloop.counter0 }}").val();
$.ajax({
url : "/locMusic_json",
type : "POST",
dataType: "json",
data : {
filep : filepath,
csrfmiddlewaretoken: '{{ csrf_token }}'
},
success : function(json) {


},
error : function(xhr,errmsg,err) {
alert("fail");
}
});
return false;
});
});
</script>
{% endfor %}

</div>














<!-- Player controls -->


<form method="post">
<a href="#" id="butto">pause</a></p>
</form>

<script>
$(document).ready(function() {
$("#butto").click(function() {

$.ajax({
url : "/locMusic",
type : "POST",
dataType: "json",
data : {
csrfmiddlewaretoken: '{{ csrf_token }}'
},
success : function(json) {


},
error : function(xhr,errmsg,err) {

}
});
return false;
});
});
</script>





<form method="post">
<a href="#" id="butt">unpause</a></p>
</form>

<script>
$(document).ready(function() {
$("#butt").click(function() {

$.ajax({
url : "/locMus",
type : "POST",
dataType: "json",
data : {
csrfmiddlewaretoken: '{{ csrf_token }}'
},
success : function(json) {


},
error : function(xhr,errmsg,err) {

}
});
return false;
});
});
</script>






<a href="/musicSet/">Music Settings</a>